<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Invitations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/student-live-session-end.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>

  <img src="{{ url_for('static', filename='icons/seado-logo.png')}}" alt="Seado Logo" class="logo" />
  <div class="message">
    Your Live Whiteboard Session has ended<br />
    or you have left your Live Whiteboard Session with (Tutor Name)
  </div>
  <div class="rate">Rate Them!</div>
  <div class="stars" id="star-container">
    <span class="star" data-value="1">&#9734;</span>
    <span class="star" data-value="2">&#9734;</span>
    <span class="star" data-value="3">&#9734;</span>
    <span class="star" data-value="4">&#9734;</span>
    <span class="star" data-value="5">&#9734;</span>
  </div>

  <button class="exit-btn">
    Exit
  </button>

  <script>
    const stars = document.querySelectorAll('.star');
    stars.forEach((star, idx) => {
      star.addEventListener('click', () => {
        stars.forEach(s => s.classList.remove('selected'));
        for (let i = 0; i <= idx; i++) {
          stars[i].classList.add('selected');
        }
      });
    });
  </script>

</body>

</html>