<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Material</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/student-view-materials.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>View Material</h1>
        </header>
        <main>
            <div class="material-preview">
            <div class="details">
                <p><strong>Material Name: {{ post.content }}</strong></p>
                <p><strong>Uploaded By {{ tutor.firstName}}</strong></p>
                <p><strong>Type:</strong>
                    {% if post.files %}
                    {% if post.files.endswith('.pdf') %}
                        PDF
                    {% elif post.files.endswith('.jpg') %}
                        Image
                    {% else %}
                        Other
                    {% endif %}
                {% else %}
                    No file
                {% endif %}
                </p>
                <p><strong>Date Uploaded:</strong> {{ post.timestamp.strftime('%m/%d/%Y') }}</p>
            </div>
            <button class="download-btn">
                <img src="{{ url_for('static', filename='icons/download-icon.png') }}" alt="Download Icon">
                <a href="{{ url_for('static', filename='uploads/' + post.files) }}" class="download-link">Download File</a>
            </button>
            </div>
        </main>
    </div>
</body>
</html>