<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/dashboard-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/tutor-bookings.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.jss" crossorigin="anonymous"></script>
</head>


<body>

  <div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message|safe }}  <!-- This ensures HTML inside the flash message is rendered -->
                <button onclick="this.parentElement.style.display='none'">×</button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>

  {% if bookings %}
  {% for booking in bookings %}
  <ul>
    <div class="booking-card">
      <div>
        <div class="booking-info">
          Student: {{ booking.student.firstName }} {{ booking.student.lastName }}
        </div>
        <div class="booking-sub-info">Date: {{ booking.timestamp.strftime('%Y-%m-%d') }}</div>
      </div>
      <div class="action-buttons">
        <form action="{{ url_for('views.tutor_view_student',  student_id=booking.student.id) }}">
          <button type="Submit">View Student</button>
        </form>
          <button>Chat</button>
          {% if booking.accepted %}
            <button class="accepted">Booking Accepted</button>
          {% else %}
            <form method="POST" action="{{ url_for('views.accept_booking', booking_id=booking.id) }}">
              <button type="submit" class="accepted">Accept Booking</button>
            </form>
          {% endif %}
      </div>
    </div>
  </ul>
  {% endfor %}
{% else %}
  <p>No bookings yet.</p>
{% endif %}
      
    
    
      <script>
        function acceptBooking(button) {
          button.textContent = 'Booking Accepted';
          button.classList.add('accepted');
        }
      </script>
</body>


</html>