<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Whiteboard Session</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/tutor_live_session.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="header">
        <h1>You have started a Live Whiteboard Session!</h1>
    </div>
    
    <div class="whiteboard-container">
        <canvas id="whiteboardCanvas"></canvas>
    </div>
    
    <div class="controls">
        <button class="end-button" id="endButton">End Session</button>
        <div class="student-counter">
            <span>Students:</span>
            <input type="text" id="studentCount" value="0" readonly>
        </div>
    </div>
</body>
</html>