<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message|safe }}  <!-- This ensures HTML inside the flash message is rendered -->
                    <button onclick="this.parentElement.style.display='none'">×</button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>



</body>
</html>
