<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/tutor-make-post.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/dashboard-style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.jss" crossorigin="anonymous"></script>
</head>
<body>
   
    <div class="container">

        <div class="side-pane">
            <div class="seado">
                <img class="seado-logo" src="{{ url_for('static', filename='icons/seado-logo.png') }}">
            </div>

            <nav>
                <ul>
                    <a href="{{ url_for('views.tutor_dashboard') }}"><li><i style="width:5%;" class="icon-dashboard"></i> Dashboard</li></a>
                    <a href="{{ url_for('views.tutor_details') }}"><li><i class="icon-details"></i> My Details</li></a>
                    <a href="{{ url_for('views.tutor_make_post') }}"><li><i class="icon-post"></i> Make A Post</li></a>
                    <a href="{{ url_for('views.tutor_bookings') }}"><li><i class="icon-bookings"></i> View Bookings</li></a>
                    <a href="{{ url_for('views.tutor_live_session') }}"><li><i class="icon-whiteboard"></i> Whiteboard</li></a>
                    <a href="{{ url_for('views.tutor_recent_chats') }}"><li><i class="icon-chat"></i> Chat</li></a>
                </ul>
            </nav>
        </div>

        <div class="sidebar-space"></div>
  <div class="content">

    <form method="POST" action="{{ url_for('views.tutor_make_post') }}" enctype="multipart/form-data">
    <textarea name="content" placeholder="Post description" required></textarea>

    <div class="button-group">
      <input type="file" name="file">
    </div>

    <div class="thumbnail-group">
      <div class="thumbnail-placeholder"></div>
      <input type="file" name="thumbnail">
    </div>

    <div class="tag-group">
      <input type="text" name="tags" placeholder="Tag Subjects (e.g., Math, Science)" />
    </div>

    <div class="action-buttons">
      <button class="post-btn">Post</button>
      <button class="cancel-btn">Cancel</button>
    </div>
    </form>

  </div>

</div>
</body>
</html>

